.customScrollbar::-webkit-scrollbar {
    width: 8px;
    }
.customScrollbar::-webkit-scrollbar-track {
    background: #f7f7f7;
    }
  
.customScrollbar::-webkit-scrollbar-thumb {
    background-color: #9747ff;
    border-radius: 12px;
    }
  
.customScrollbar::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
    border: 2px solid #9747ff;
    }

.customBoxShadow {
    box-shadow: 3px 0px 10px 7px rgba(115, 0, 247, 0.5);
}

.combinedShadow {
    box-shadow: 3px 0px 10px 7px rgba(115, 0, 247, 0.5),
                0 20px 25px -5px rgba(0, 0, 0, 0.2), 
                0 10px 10px -5px rgba(0, 0, 0, 0.1),
                0 0 0 1px rgba(0, 0, 0, 0.1);
}

.transition {
    transition: all 0.5s ease;
}

@keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 rgba(129, 140, 248, 0.7);
    }
    70% {
      box-shadow: 0 0 0 10px rgba(129, 140, 248, 0);
    }
    100% {
      box-shadow: 0 0 0 0 rgba(129, 140, 248, 0);
    }
  }
  
  .pulseAnimation {
    animation: pulse 1.5s infinite;
  }