/* 전체 페이지 컨테이너 */
.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* 뷰포트의 전체 높이를 차지 */
  }
  
.content {
    flex: 1; /* 중간 콘텐츠를 유연하게 차지 */
}

.headerStyle {
    max-width: 1250px;
    margin: 0 auto;
    padding-top: 80px;
}

.slideContainer {
    position: relative;
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}

.slideBtnContainer {
    position: absolute;
    top: 0;
    left: -48px;
    right: -48px;
    bottom: 0;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.slideBtn {
    background-color: black;
    color: white;
    opacity: 0.5;
    border-radius: 100%;
    padding: 8px;
    margin: 8px;
    transition: all 0.5s ease;
}
.slideBtn:hover{
    opacity: 1;
    transform: scale(1.1);
}

.slideContainerInner {
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 600px;
    padding-top: 5%;
    overflow: hidden;
}

.slideBoxAnimation {
    display: flex;
    transition: all 0.5s ease-in-out;
}

.slideSortBox {
    flex-shrink: 0;
    width: 25%;
    height: fit-content;
    margin: 0 8px;
    transition: all 0.5s ease-in-out;
}

.currentSlideBarStyle {
    background-color: black;
    width: 60px;
    height: 6px;
    border-radius: 8px;
}

.normalSlideBarStyle {
    background-color: rgb(209, 213, 219);
    width: 24px;
    height: 6px;
    border-radius: 8px;
}

.currentImgStyle {
    opacity: 1;
    transform: scale(1.1);
}

.normalImgStyle {
    opacity: 0.65;
    transform: scale(0.9);
}

.slideNav {
    position: absolute;
    bottom: 8px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    margin-top: 8px;
}

.recommendContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    width: fit-content;
    margin-left: 28px;
}

.recommendText {
    font-size: 24px;
    line-height: 32px;
    color: rgb(151, 71, 255);
    font-weight: 800;
    padding-top: 28px;
    font-style: italic;
    border-bottom: 2px solid rgb(151, 71, 255);
}

.gridContainer {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 16px;
}

.gridInner {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    color: white;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    align-items: center;
    overflow: hidden;
}

.gridImage {
    position: relative;
    width: 100%;
    height: 100%;
}

.gridImgContainer {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 4px;
}

.sortedImgContainer {
    color: white;
    padding: 10px;
    border-radius: 4px;

    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
}

/* .footerStyle {
    position: absolute;
    bottom: 0;
    width: 100vw;
    background-color: rgb(243, 244, 246);
    text-align: center;
    padding: 10px;
    border-top: 2px solid rgb(209, 213, 219);
} */

.footerStyle {
    background-color: rgb(243, 244, 246);
    text-align: center;
    padding: 10px;
    border-top: 2px solid rgb(209, 213, 219);
    width: 100%;
  }