/* src/astyls/Button.css */
.button {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .button.primary {
    background-color: #6366f1;
    color: white;

  }

  .button.primary:hover {
    background-color: #4f46e5;
  }
  
  .button.secondary {
    border: 1px solid #6366f1;
    color: #6366f1;
  }

  .button.secondary:hover {
    background-color: #4f46e5;
    color: white;
  }